
<style>
    Hello {
        width: 100%;
        height: 100%;
        background-color: white;
        color: black;
        flex-direction: column;
        padding: 48px;
    }

    .heading {
        font-size: 48px;
        margin-bottom: 18px;
    }

    .content {
        font-size: 15px;
    }
</style>

<root>
    <div class="heading">
        Hello, Razor
    </div>
    <div class="content">
        Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum 
    </div>
</root>
